<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/favicon.ico">
    <title>InvAid</title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,700' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/chat.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="chatbody">

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">InvAid</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="inventory.html">Inventory</a></li>
            <li class="active"><a href="#">Messenger</a></li>
            <li><a href="logout.html">Log Out</a></li>
          </ul>
          <ul class="nav navbar-nav">
<!-- ===========BACKEND STUFF START HERE ==========-->
<!-- Need to write <li> block to populate <a> tag with logged in user's name -->
          <li><a  id="current-user-name" href="#">Logged in as: Ryan Chavez</a></li>
<!-- ===========BACKEND STUFF END HERE ==========-->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

      <div class="panel panel-default" id="no-panel-margin-bottom">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3>Messenger</h3>
        </div>
      </div>


      
        <!-- <input type="text" id="pseudoInput">
        <button id="pseudoSet"> Set Pseudo </button>  -->

        <div id="chatEntries" class="pre-scrollable">
          <!-- Messages inserted here with JS -->
        </div>

        <div id="chatControls" class="input-group">
          <input type="text" id="messageInput" class="form-control">
            <div class="input-group-btn">
            <!-- Button and dropdown menu -->
            <button type="button" id="submit" class="btn btn-default"> Send </button>
            </div>
        </div>
<!--
        <div id="chatControls">
            
            <input type="text" id="messageInput">
            <button id="submit"> Send </button>
        </div>
    -->  

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    <script src="socket.io/socket.io.js"> </script>
    <script src="js/chat.js"> </script>
  </body>
</html>