<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/favicon.ico">
    <title>InvAid</title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,700' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="body">
  
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="">LOG</span>
          <span class="">IN</span>
        </button>
        <a class="navbar-brand" href="#">InvAid</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form method="post" action ="/signIn"class="form-horizontal" role="form">
          <div class="control-group">
            <label for="email" class="control-label">Email:</label>
            <div class="controls">
              <input type="email" class="form-control" name="email" placeholder="Email" />
              <p class="help-block"></p>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group more-space">
            <div class="col-sm-offset-2 col-sm-10">
              <!-- a href="#" class="btn btn-default" role="button">Sign in</a> -->
              <input type ="submit" class="btn btn-default" value="Sign in">
            </div>
          </div>
        </form>
        <ul class="nav navbar-nav">
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <div class="container">
    <div class="well custom-bottom-margin">
      <h3 class="h3-no-vert-margin"><p class="text-center">Welcome!</p></h3>
      <p class="text-center ">Your inventory</p>
      <p class="text-center ">management solution.</p>
      <hr>
      <div class="centered">
        <a href="createlogin">
          <button type="button" class="btn btn-info btn-lg btn-block">
            <h4>Sign up</h4>
          </button>
        </a>
      </div>
      <hr>
    </div>
  </div>
  <hr>

  <div class="what-we-do">
    <div class="more-space">
      <h3 id="more-margin"><p class="text-center">We can help!</p></h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>It's hard keeping track of your goods when you're busy helping people. That's where we come in!</p>
        </div>
        <div class="row-fluid">
          <div class="col-xs-6">
            <p>We provide a secure platform where your team can manage an inventory and always have it be up to date.</p>
          </div>
          <div class="col-xs-6 pagination-centered">
            <img src="img/favicon.ico" width="100px">
          </div class="row-fluid">
          <div class="col-xs-12">
            <p>We provide a simple spreadsheet solution, something you're most likely familiar with.</p>
          </div>
        </div>
      </div>
    </div>
    <img src="img/spreadsheet.png" width="100%">
    <div class="container more-space">
      <div class="row">
        <div class="col-xs-6">
          <img src="img/chat.png" width="100%">
        </div>
        <div class="col-xs-6">
          <p>We also provide a lightweight messaging feature that tracks inventory changes and lets you stay in contact with your team!</p>
        </div>
      </div>
    

    <div class="custom-border more-space">
      <div class="centered"><a href="createlogin"><button type="button" class="btn btn-info btn-lg btn-block"><h4>Sign up</h4></button></a></div>
    </div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> <!-- or use local jquery -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/login.js"> </script>
  </body>
</html>