td.item-width {
	min-width: 60%;
}

td.qty-width {
	min-width: 50%;
}
td.mod-width {
	min-width: 50%;
}
td.modified-name {
	
}
td.threshold-width {
	
}
.table {
	margin-top: 10px;
	border-top: solid 5px #ddd;
	border-bottom: solid 5px #ddd;
}
.panel {
	margin-bottom: 0;
}
.remove {
	background-color: #ccc;
}
.button_height {
	margin-top: 3px;
	margin-bottom: -4px;
}
.dropdown-menu > option > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > option > a:hover,
.dropdown-menu > option > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
#search_reset_row {
	margin-left: -15px;
	margin-top: 25px;
}
.submenu_width {
	min-width: 122px;
}
#margin-left {
	padding-left: 0px;
}

/* NEW INVENTORY STYLING */
#unmargined_list {
	margin-top: -5px;
}
.item_row {
	background-color: #ecf0f1;
	border: solid 2px #eee;
	border-left: none;
	border-right: none;
	padding-top: 5px;
	padding-bottom: 5px;
}
.item_row_height {
	
	font-weight: bold;
}
.item_name {
	font-size: 10pt;
}
.item_number {
	top: 15px;
}
.user_name {
	display: inline-block;
	font-weight: bold;
}
.modified_by {
	padding-top: 6px;
	font-size: 8pt;
}
.qty_title {
	
	padding-bottom: 5px;
	font-size: 8pt;
	text-align: left;
}
.quantity {
	font-size: 8pt;
	text-align: left;
	font-weight: bold;
}
.status_button {
	padding-top: 2px;
	padding-bottom: 0px;	
}

.item_row_red {
	background-color: #c0392b;
	border: solid 2px #eee;
	border-left: none;
	border-right: none;
	padding-top: 5px;
	padding-bottom: 5px;
}


.item_row_orange {
	background-color: #e67e22;
	border: solid 2px #eee;
	border-left: none;
	border-right: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

.item_row_yellow {
	background-color: #f1c40f;
	border: solid 2px #eee;
	border-left: none;
	border-right: none;
	padding-top: 5px;
	padding-bottom: 5px;
}
